@page "/addDiet"
<PageTitle>Add diet</PageTitle>
<MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>dodawanie diety</strong></MudText>

<MudGrid>
    <MudItem xs="6">
        <MudStack Spacing="3">
            <!-- Sekcja dodawanie nazwy nowej diety -->
            <MudPaper Class="pa-3" Style="width:100%;background:rgb(223,243,156);border-radius: 20px;">
               <MudText Typo="Typo.h6">Nazwa diety</MudText> 
                <MudTextField @bind-Value="TextValue" Label="Wpisz nazwę diety" Variant="Variant.Text"></MudTextField>
            </MudPaper>

            <!-- Sekcja wyboru dania do dodania -->
            <MudPaper Class="pa-3" Style="width:100%;background:rgb(223,243,156);border-radius: 20px;">
                <MudText Typo="Typo.h6">Która pozycję chcesz dodać?</MudText> 
                <MudForm>
                    <MudRadioGroup @bind-Value="SelectedOption">
                        <MudStack>
                            <MudRadio Value="@("Śniadanie")" Color="Color.Primary">Śniadanie</MudRadio>
                            <MudRadio Value="@("Drugie śniadanie")" Color="Color.Primary">Drugie śniadanie</MudRadio>
                            <MudRadio Value="@("Obiad")" Color="Color.Primary">Obiad</MudRadio>
                            <MudRadio Value="@("Podwieczorek")" Color="Color.Primary">Podwieczorek</MudRadio>
                            <MudRadio Value="@("Kolacja")" Color="Color.Primary">Kolacja</MudRadio>
                        </MudStack>
                    </MudRadioGroup>
                </MudForm>
                <div class="d-flex align-center">
                    <MudText Class="ml-4">Wybrana opcja: @SelectedOption</MudText>
                    <MudButton Variant="Variant.Filled" Style="width: 150px;background:rgb(255,152,107);border-radius: 20px;"
                               Href="/addDiet/addIngredientsToNewDiet">Zatwierdź</MudButton>
                </div>
            </MudPaper>
        </MudStack>
    </MudItem>

    <!-- Sekcja grafiki -->
    <MudItem xs="6">
        <MudCard Style="width:100%; position: relative;">
            <MudCardMedia Image="https://img.freepik.com/foto-gratis/manos-chef-cortando-verduras-su-cocina_155003-42435.jpg" Height="500" />

        </MudCard>
    </MudItem>
</MudGrid>



@code {
public string TextValue { get; set; }
public string SelectedOption { get; set; }
}