@page "/"

<PageTitle>Home</PageTitle>

<MudStack Spacing="5">

    <!--Sekcja początkowa strony -tytuł-->
    <div id="sectionStarter">
        <MudPaper Class="pa-10" Style="background:rgb(223,243,156);border-radius: 20px; margin-left: 30px; margin-right: 30px;height: 500px">

            <MudGrid AlignItems="center">
                <MudItem xs="6">
                    <MudStack Spacing="3">
                        <MudText Align="Align.Left" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>fit</strong></MudText>
                        <MudText Align="Align.Left" Typo="Typo.h2" Style="text-transform: uppercase;"><strong>balance</strong></MudText>
                        <MudText Align="Align.Left" Typo="Typo.h6">Zbalansowane diety dla zdrowego trybu życia</MudText>
                        <MudButton Variant="Variant.Filled" Style="width:300px; background:rgb(255,152,107);border-radius: 20px;"
                                   Href="">Wybierz swój program</MudButton><!--sciezka do sekcji na tej stronie -->
                    </MudStack>
                </MudItem>

                <MudItem xs="6">
                    <MudImage Src="/Images/HomePage/StarterDish.png" Alt="StarterDishImage" Class="rounded-lg" Height="650" />
                </MudItem>

            </MudGrid>

        </MudPaper>

    </div>
    <!--Sekcja o nas-->
    <div id="sectionAboutUs">
        <MudStack>
            <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>o nas</strong></MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Style="margin-left: 30px; margin-right: 30px;"> @((MarkupString)textAboutus.Replace(Environment.NewLine, "<br/>")) </MudText>
            <MudStack Row="true" Spacing="2" Justify="Justify.SpaceAround" Style="margin-left: 30px; margin-right: 30px;">

                <MudPaper Class="pa-15" Style="background:rgb(223,243,156);border-radius: 20px;">
                    <MudImage Src="/Images/HomePage/AboutUsDiet.png" Alt="DietImage" Class="rounded-lg"/>
                    <MudText Align="Align.Center" Typo="Typo.h5"> Mamy duzy wybor zbalansowanych zdrowych diet</MudText>
                </MudPaper>

                <MudPaper Class="pa-15" Style="background:rgb(223,243,156);border-radius: 20px;">
                    <MudImage Src="/Images/HomePage/AboutUsDietician.png" Alt="DieticianImage" Class="rounded-lg"/>
                    <MudText Align="Align.Center" Typo="Typo.h5"> Nasi dietetycy to wysoko kwalifikowane specialiści</MudText>
                </MudPaper>

                <MudPaper Class="pa-15" Style="background:rgb(223,243,156);border-radius: 20px;">
                    <MudImage Src="/Images/HomePage/AboutUsDevelop.png" Alt="DevelopImage"  Class="rounded-lg"/>
                    <MudText Align="Align.Center" Typo="Typo.h5"> Już ponad 100 naszych klientów zmieniło swoje życie</MudText>
                </MudPaper>

            </MudStack>
        </MudStack>
    </div>

    <!--Sekcja usług-->
    <div id="sectionServices">
        <MudStack>
            <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>usługi</strong></MudText>

            <MudGrid>
                <MudItem xs="3" Class="d-flex flex-column" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;margin-left: 30px; margin-right: 30px;">
                    <MudText Align="Align.Left" Typo="Typo.h5" >@textServices </MudText>
                    <div class="d-flex align-center">
                        <MudButton Variant="Variant.Filled"  Style="width:160px; background:rgb(255,152,107);border-radius: 20px;"
                                   Href="/login">Zaloguj się
                        </MudButton>
                    </div>
                </MudItem>

                <MudItem xs="8">
                    <MudGrid>
                        <MudItem xs="6">
                            <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px; height: 262px">
                                <MudImage Fluid="true" Src="/Images/HomePage/ServicesWater.png" Alt="DevelopImage"  Class="rounded-lg" />
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="6">
                            <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                                <MudImage Fluid="true" Src="/Images/HomePage/ServicesMyDiet.png" Alt="DevelopImage"  Class="rounded-lg"/>
                            </MudPaper>
                        </MudItem>

                        <MudItem xs="6">
                            <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px; height: 265px">
                                <MudImage Fluid="true" Src="/Images/HomePage/ServicesRaport.png" Alt="DevelopImage"  Class="rounded-lg"/>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="6">
                            <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                                <MudImage Fluid="true" Src="/Images/HomePage/ServicesCountKcal.png" Alt="DevelopImage"  Class="rounded-lg"/>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>

        </MudStack>
    </div>

    <!--Sekcja wyboru programu-->
    <div id="sectionProgram">
        <MudStack>
            <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>wybierz swoj program</strong></MudText>
            <MudStack Spacing="3" Justify="Justify.SpaceAround">

                <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;margin-left: 30px; margin-right: 30px;">
                    <MudText Align="Align.Left" Typo="Typo.h4"><strong> Utrata wagi</strong></MudText>
                    <MudText Align="Align.Left" Typo="Typo.h5" >@textProgram </MudText>
                    <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                               Href="/programLoseWeight">Zobacz
                    </MudButton>
                </MudPaper>

                <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;margin-left: 30px; margin-right: 30px;">
                    <MudText Align="Align.Left" Typo="Typo.h4"><strong>Urzymanie wagi</strong></MudText>
                    <MudText Align="Align.Left" Typo="Typo.h5" >@textProgram </MudText>
                    <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                               Href="/programKeepWeight">Zobacz
                    </MudButton>
                </MudPaper>

                <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;margin-left: 30px; margin-right: 30px;">
                    <MudText Align="Align.Left" Typo="Typo.h4"><strong>Zwiększenie wagi</strong></MudText>
                    <MudText Align="Align.Left" Typo="Typo.h5" >@textProgram </MudText>
                    <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                               Href="/programForUnderweight">Zobacz
                    </MudButton>
                </MudPaper>

            </MudStack>
        </MudStack>
    </div>

    <!--Sekcja możliwości zobaczenia diet-->
    <div id="sectionDiets">
        <MudStack >
            <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>nasze diety</strong></MudText>
        </MudStack>

        <MudGrid>

            <!-- Sekcja opisu -->
            <MudItem xs="3">
                <MudCard Style=" position: relative;">
                    <MudPaper Class="pa-2" Style="border: 2px solid black;border-radius: 10px;">
                        <MudText > @((MarkupString)textOurDiets.Replace(Environment.NewLine, "<br/>")) </MudText>
                    </MudPaper>
                </MudCard>
            </MudItem>

            <MudItem xs="8"> <!-- xs="liczba" oznacza ilośc kolum, zajmowanych przez element xs=12 cala szerokosc, 6 pol ...-->
                <MudStack Spacing="3">
                    <!-- Sekcja z przekierowaniem do strony z listą dla gości -->
                    <MudPaper Class="pa-3" Style="background:rgb(223,243,156);border-radius: 20px;">
                        <MudText Align="Align.Left" Typo="Typo.h4"><strong> Lista diet dla gości</strong></MudText>
                        <div class="d-flex align-center">
                            <MudButton Variant="Variant.Filled" Style="width: 150px;background:rgb(255,152,107);border-radius: 20px;"
                                       Href="/allGuestDiets">Zobacz</MudButton>
                        </div>
                    </MudPaper>

                    <!-- Sekcja wyboru dania do zmieny -->
                    <MudPaper Class="pa-3" Style="background:rgb(223,243,156);border-radius: 20px;">
                        <MudText Align="Align.Left" Typo="Typo.h4"><strong> Lista diet tylko dla zalogowanych użytkowników</strong></MudText>
                        <div class="d-flex align-center">
                            <MudButton Variant="Variant.Filled" Style="width: 150px;background:rgb(255,152,107);border-radius: 20px;"
                                       Href="/login">Zaloguj się</MudButton>
                        </div>
                    </MudPaper>
                </MudStack>
            </MudItem>
        </MudGrid>
    </div>

    <!--Sekcja opinii-->
    <div id="sectionOpinions">
        <MudStack>
            <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>opinie</strong></MudText>
            <!-- pętla-->
            <MudPaper Class="pa-10" Style="background:rgb(223,243,156);border-radius: 20px;margin-left: 30px; margin-right: 30px;">
                <MudRating SelectedValue="0" Size="Size.Medium" /><!--z bazy wyciagnac-->
                <MudText Align="Align.Left" Typo="Typo.h5">zawartość opini </MudText> <!--z bazy wyciagnac-->
            </MudPaper>

        </MudStack>
    </div>

    <!--Sekcja Q&A-->
    <div id="sectionQ&A">
        <MudStack>
            <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>Q&A</strong></MudText>
        </MudStack>
        <MudStack>
            <MudPaper Class="pa-10" Style="background:rgb(223,243,156);border-radius: 20px;margin-left: 30px; margin-right: 30px;">
                <MudText Align="Align.Left" Typo="Typo.h6" Style="text-transform: uppercase;"><strong>Najczęstsze pytania</strong></MudText>

                <MudStack Spacing="3">

                    <MudPaper Class="pa-10" Style="background:white;border-radius: 20px;">
                        <MudText > @((MarkupString)faq1.Replace(Environment.NewLine, "<br/>")) </MudText>
                    </MudPaper>
                    <MudPaper Class="pa-10" Style="background:white;border-radius: 20px;">
                        <MudText > @((MarkupString)faq2.Replace(Environment.NewLine, "<br/>")) </MudText>
                    </MudPaper>
                    <MudPaper Class="pa-10" Style="background:white;border-radius: 20px;">
                        <MudText > @((MarkupString)faq3.Replace(Environment.NewLine, "<br/>")) </MudText>
                    </MudPaper>
                </MudStack>

            </MudPaper>

        </MudStack>

        <MudStack>
            <MudPaper Class="pa-10" Style="margin-left: 30px; margin-right: 30px;">
                <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>napisz do nas</strong></MudText>
                <MudText > @((MarkupString)textSendEmail.Replace(Environment.NewLine, "<br/>")) </MudText>
                <MudText Typo="Typo.h6">E-mail:</MudText>
                <MudTextField ShrinkLabel @bind-Value="email" Label="E-mail" Variant="Variant.Outlined"></MudTextField>
                <MudText Typo="Typo.h6">Treść wiadomości:</MudText>
                <MudTextField ShrinkLabel @bind-Value="email" Label="Treść wiadomości" Variant="Variant.Outlined"></MudTextField>
                <div class="d-flex align-center">
                    <MudButton Variant="Variant.Filled" Style="width: 150px;background:rgb(255,152,107);border-radius: 20px;"
                               Href="">Wyślij</MudButton><!--Gdzie przekierować?-->
                </div>
            </MudPaper>
        </MudStack>
    </div>

</MudStack>

@code
{
string textAboutus = $"Cieszymy się, że jesteś z nami!{Environment.NewLine}FitBalance to portal dietetyczny dla każdego. Z nami zrzucisz zbędne kilogramy, dorzucisz brakujące kilogramy albo utrzymasz wagę w zdrowy sposób. Zależy nam na twoim zdrowiu i dobrym samopoczuciu dlatego nasi specjaliści przygotowali wiele zbilansowanych diet od wegańskich opcji przez keto aż po bezglutenowych, które możesz modyfikować. Nie tylko znajdziesz dietę dla siebie, a również lepiej zaplanujesz swoja przygodę ze zdrowiem za pomocą kalkulatora zapotrzebowania kalorycznego oraz miarki wypitej wody. Jesteśmy chętni się dla Ciebie udoskonalać dlatego masz możliwość wystawiania opinii na temat diet.\nMotywacją do stworzenia naszej aplikacji jest brak na rynku narzędzia, które by skutecznie\u00a0 łączył ze sobą aspekty planowania posiłków, monitorowania kaloryczności oraz ilości wody wypitej danego dnia.";
string textServices = "Dla naszych użytkowników oferujemy spersonalizowany program dietetyczny, który jest tworzony na podstawie indywidualnych preferencji i zapytań użytkownika. \n\nDodatkowo zalogowany użytkownik ma możliwość rejestrowania ilości spożywanej w ciągu dnia wody, wyliczania swojego zapotrzebowania kalorycznego oraz przeglądania rankingu najlepszych diet.";
string textProgram = "Mamy duży wybór zbalansowanych i zdrowych diet";
string textOurDiets = $"Nasze diety są opracowywane przez najlepszych dietetyków, aby spełniać indywidualne potrzeby naszych klientów.{Environment.NewLine} Dzięki profesjonalnemu podejściu i starannie dobranym składnikom, nasze plany żywieniowe pomagają osiągnąć zamierzone cele zdrowotne i sylwetkowe";
<!--faq-Frequently Asked Questions-->
string faq1 = $"1. Czy mogę zamieniać dania?{Environment.NewLine}Tak, można wymieniać pszczególne posiłki na inne. Pod warunkiem, że bedzię on zgodny z zapotrzebowaniem kalorycznym.";
string faq2 = $"2. Czy mogę zamieniać rodzaj diety?{Environment.NewLine} Tak, w każdym momęcie można zmienić rodzaj diety.";
string faq3 = $"3. Co w przypadku gdy mam problemy z zalogowaniem?{Environment.NewLine}  W takim przypadku prosimy kontakować się z naszym działem helpdesku poniżej w sekcji Napisz do nas.";
string textSendEmail = $"Zanim zadasz pytanie sprawdź Q&A. Może jest tam rozwiązanie Twojego problemu.{Environment.NewLine}Jeśli nadal nie znasz odpowiedzi - napisz do nas! Chętnie pomożemy Ci w rozwiązaniu problemów i wyjaśnimy wszelkie wątpliwości :)";

public string email { get; set; }


}